SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_PRIVATE_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-07
SHOPIFY_CUSTOMER_ACCOUNT_CLIENT_ID=
SHOPIFY_REDIRECT_URI=https://your-domain.com/api/auth/callback
SHOPIFY_BLOG_HANDLE=journal
NEXT_PUBLIC_KLAVIYO_COMPANY_ID=
