@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-abel);
  --font-mono: var(--font-geist-mono);

  --color-player-primary: #a855f7;
  --color-player-secondary: #6b21a8;
  --color-anime-primary: #ec4899;
  --color-anime-secondary: #9d174d;
}

:root {
  --background: #383e42;
  --foreground: #ffffff;
  --font-abel: 'Abel', sans-serif;
  --player-primary: #a855f7;
  --player-secondary: #6b21a8;
  --anime-primary: #ec4899;
  --anime-secondary: #9d174d;
  --primary: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-abel);
  transition: background-color 0.3s ease, color 0.3s ease;
}
