@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-abel);
  --font-mono: var(--font-geist-mono);

  --color-primary: #ffffff;
  --color-secondary: #888888;
}

:root {
  --background: #383e42;
  --foreground: #ffffff;
  --font-abel: 'Abel', sans-serif;
  --primary: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-abel);
  transition: background-color 0.3s ease, color 0.3s ease;
}
